<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{titulo}}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css" media="screen" title="no title" charset="utf-8">
		<link href="/styles/slick.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- <link rel="stylesheet" href="/styles/bootstrap.min.css"> -->
		<link href="/styles/styles.css" rel="stylesheet">
		<link rel="stylesheet prefetch" href="https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/css/jquery.circliful.css">
		<link type="text/css" media="all" rel="stylesheet" href="/styles/jquery.tosrus.all.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/superslides/0.6.2/stylesheets/superslides.css">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<a class="volverArriba" href="#" data-toggle="tooltip" data-placement="top" title="Volver arriba"></a>
		<header id="cabecera">
			<div class="areaDeMenu">
				<div class="navbar navbar-default navbar-fixed-top" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="/" class="navbar-brand">Universidad <span>Católica</span></a>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul id="top-menu "class="nav navbar-nav navbar-right main-nav">
								{{# each navLinks}}
								<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
									<a href="{{ href }}">{{ label }}</a>
								</li>
								{{/each}}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Saber más<span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="unidadpedagogica">Unidad Pedagógica<br>(San Ignacio Misiones)</a></li>
										<li><a href="nuestra-historia">Nuestra Historia</a></li>
										<li><a href="identidad">Identidad</a></li>
										<li><a href="notfound">Autoridades</a></li>
										<li><a href="notfound">Sedes y Campus</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="body">
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
					{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
					{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
					{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
					{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			{{{body}}}
		</div>

		<footer id="footer">
			<div class="footer_top">
				<div class="container">
					<div class="row">
						<div class="col-ld-4	col-md-4 col-sm-4">
							<div class="footerUniversidad">
								<h3>LA UNIVERSIDAD</h3>
								<ul class="footerUniversidadMenu">
									<li><a href="/">Inicio</a></li>
									<li><a href="admision">Admisión</a></li>
									<li><a href="carreras">Carreras</a></li>
									<li><a href="lista-eventos">Eventos</a></li>
									<li><a href="galeria">Galería</a></li>
									<li><a href="unidadpedagogica">Unidad Pedagógica (San Ignacio Misiones)</a></li>
									<li><a href="nuestra-historia">Nuestra historia</a></li>
									<li><a href="identidad">Identidad</a></li>
									<li><a href="autoridades">Autoridades</a></li>
									<li><a href="404">Sedes y Campus</a></li>
									<li><a href="contacto">Contacto</a></li>
								</ul>
							</div>
						</div>
						<div class="col-ld-4	col-md-4 col-sm-4">
							<div class="footerUniversidad">
								<div class="direccionyContacto wow">
									<h3>DIRECCIÓN Y CONTACTO</h3><br>
									<div class="direccionContacto">
										<p><i class="fa fa-map-marker"></i> San Ignacio Misiones, Paraguay</p>
										<p><i class="fa fa-car"></i> Ruta IV, Km. 2 e/ Teodoro Brusquetti y Padre Boix</p>
										<p><i class="fa fa-phone"></i> Teléfono: (0782) 232 351</p>
										<p><i class="fa fa-envelope-o"></i> Email: ucasig@gmail.com</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-ld-4	col-md-4 col-sm-4">
							<div class="footerUniversidad">
								<h3>También estamos en:</h3>
								<ul class="footerRedesSociales">
									<li><a title="Facebook" href="https://www.facebook.com/UniversidadCatolicaSubCampusSanIgnacioGuazu/" target="_blank"><i class="fa fa-facebook"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footerBottom">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="footerBottomIzq">
								<p> Copyright &copy; Todos los derechos reservados</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="footerBottomDer">
								<p class="fa fa-university"> UCASI - 2016</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script src="js/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> -->
		<script type="text/javascript" src="https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/superslides/0.6.2/jquery.superslides.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
		<script type="text/javascript" src="js/slick.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		<script type="text/javascript" src="js/FlameViewportScale.js"></script>
		<script type="text/javascript" src="js/jquery.animate-enhanced.min.js"></script>
		<script type="text/javascript" src="js/jquery.tosrus.min.all.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="js/queryloader2.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
