<section id="portada">
	<h2>Contactanos</h2>
</section>

<section id="contacto">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-45">
				<div class="tituloPrincipal">
					<h2 class="titulo2PorqueElegir">¡Ayudanos a mejorar!</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<div class="formularioContacto wow fadeInLeft">
					{{#if enquirySubmitted}}
					<h3>Gracias por ponerte en contacto!</h3>
					{{else}}
					<form class="enviarDatos" method="post">
						<input type="hidden" name="action" value="contacto">
						<input type="text" name="name.full"  class="ingresarDatos datosTexto" value="{{formData.[name.full]}}" placeholder="Ingrese su nombre" required>
						<input type="email" name="email" class="ingresarDatos datosEmail" value="{{formData.email}}" placeholder="Ingrese su correo" required>
						<input type="text" name="phone" placeholder="Ingrese su teléfono (opcional)" class="ingresarDatos datosTexto" value="{{formData.phone}}">
							<textarea name="message" placeholder="Escriba su mensaje..." cols="30" rows="10" class="ingresarDatos datostxtArea" placeholder="Mensaje..." required>{{formData.message}}</textarea>
							<div>
								<label>¿Cuál es el motivo?</label>
								<select name="enquiryType" class="ingresarDatos datosTexto" placeholder="lalala">
									<option value="">(selecciona uno)</option>
									{{#each enquiryTypes}}
									<option value="{{value}}">{{label}}</option>
									{{/each}}
								</select>
							</div>
						<div class="form-actions">
							<button type="submit" class="datosEnviar btn btn-primary">Enviar</button>
						</div>
					</form>
					{{/if}}

				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
            <div class="nuestraDireccion wow fadeInRight">
              <h3>Dirección</h3>
              <div class="direccionContacto">
                <p><i class="fa fa-car"></i> Ruta IV, Km. 2 e/ Teodoro Brusquetti y Padre Boix</p>
                <p><i class="fa fa-phone"></i> Teléfono: (0782) 232351</p>
                <p><i class="fa fa-envelope-o"></i> Email: ucasig@gmail.com</p>
                <p><i class="fa fa-map-marker"></i> San Ignacio Misiones, Paraguay</p>
              </div>
            </div>
          </div>
		</div>
	</div>
</section>
<section id="mapa">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11969.614208087594!2d-57.03651960979849!3d-26.884840809353978!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xd416e634d777a296!2sUniversidad+Cat%C3%B3lica+Nstra+Sra+de+la+Asunci%C3%B3n!5e0!3m2!1ses-419!2spy!4v1463251394726" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
