<section id="portada">
	<h2>{{data.post.title}}</h2>
</section>
<section class="descripcionBanner">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<div class="descripcionContenido">
					<div class="row">
						<div class="col-lg-12 col-12 col-sm-12">
							<div class="portadaSitio">
								<div class="seccion-eventos-slider">
									<div class="eventosDeslizador">
										{{#if data.post.image}}<div><img src="{{{cloudinaryUrl data.post.image}}}" alt="img"></div>{{/if}}
									</div>
								</div>
									<h2 class="tituloEvento">{{data.post.title}}</h2>
									<div class="fechayLugar">
										<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
											<p><i class="fa fa-clock-o"></i>{{{publishedDate}}}</p>
											<p><i class="fa fa-map-marker"></i>Lugar: San Ignacio Misiones</p>
										</p>
									</div>
										<p>
											{{{data.post.content.extended}}}
										</p>

							</div>
						</div>
						<div class="masEventosSiguiente">
							<a href="#" class="eventoAnterior wow fadeInLeft">
								<i class="fa fa-angle-left"></i>
								Anterior
							</a>
							<a href="#" class="eventoSiguiente wow fadeInRight">
								<i class="fa fa-angle-right"></i>
								Siguiente
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
